<ion-view title="수신완료 영상목록" id="page5" class=" ">
    <ion-content padding="false" scroll="false" class="has-header">
        <ion-list id="page5-list5" class=" ">
            <ion-item class="item-icon-left item-icon-right  " id="page5-list-item10" ui-sref="page10">
                <i class="icon ion-android-film"></i>실시간 영상 목록
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="page5-list-item11" ui-sref="page10b">
                <i class="icon ion-android-film"></i>충경 영상 목록
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>