<ion-view title="도난/견인 감지설정" id="page7" class=" ">
    <ion-content padding="false" scroll="false" class="has-header">
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <p id="page7-markdown6" style="color:#000000;text-align:center;" class=" ">도난/견인 감지 상태.</p>
        <div id="page7-button-bar11" class=" button-bar ">
            <button id="page7-button29" class=" button button-assertive  button-block doubleLine">도난/견인 감지 설정</button>
            <button id="page7-button30" class=" button button-assertive  button-block doubleLine">취소</button>
        </div>
    </ion-content>
</ion-view>