<ion-view title="잠금 비밀번호 변경" id="page11" class=" ">
    <ion-content padding="false" scroll="false" class="has-header">
        <form id="page11-form6" class="list ">
            <h4 id="page11-heading2" style="color:#000000;" class=" ">비밀번호 입력</h4>
            <label class="item item-input " id="page11-input7">
                <span class="input-label">****</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <h4 id="page11-heading3" style="color:#000000;" class=" ">비밀번호 재입력</h4>
        <form id="page11-form7" class="list ">
            <label class="item item-input " id="page11-input8">
                <span class="input-label">****</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <h4 id="page11-heading4" style="color:#000000;" class=" ">잠금 비밀번호</h4>
        <div>
            <div class="customRadio">
                <input type="radio" name="lockOption" value="true">사용
                <input type="radio" name="lockOption" value="false">사용 안함
            </div>
        </div>
        <form id="page11-form9" class="list ">
            <p id="page11-markdown4" style="color:#000000;" class=" ">비밀번호 기능 사용하지 않습니다.</p>
        </form>
        <div>
            <div class="bar bar-footer">
                <button class="button button-assertive">등록</button>
                <button class="button button-assertive">취소</button>
            </div>
        </div>
    </ion-content>
</ion-view>