<ion-view title="블랙박스 전화번호" id="page9" class=" ">
    <ion-content padding="false" scroll="false" class="has-header">
        <h4 id="page9-heading1" style="color:#000000;" class=" ">블랙박스 전화번호</h4>
        <form id="page9-form2" class="list ">
            <label class="item item-input " id="page9-input3">
                <input type="tel" placeholder="">
            </label>
            <div class="spacer" style="width: 283px; height: 15px;"></div>
            <p id="page9-markdown3" style="color:#000000;text-align:center;" class=" ">블랙박스 전화번호 미등록</p>
        </form>
        <div class="item item-body " id="page9-list-item-container2">
            <div id="page9-button-bar9" class=" button-bar ">
                <button id="page9-button23" class=" button button-assertive  button-block doubleLine">블랙박스 번호 초기화</button>
            </div>
            <div id="page9-button-bar8" class=" button-bar ">
                <button id="page9-button18" class=" button button-assertive  button-block icon-left ion-checkmark doubleLine">등록</button>
                <button id="page9-button21" class=" button button-assertive  button-block icon-left ion-close doubleLine">취소</button>
            </div>
        </div>
    </ion-content>
</ion-view>