<ion-view title="StarCam" hide-nav-bar="true" id="page1" class=" ">
    <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="spacer" style="width: 283px; height: 12px;"></div>
        <div id="starCam-button-bar3" class=" button-bar ">
            <a ui-sref="page2" id="starCam-button7" class=" button button-assertive  icon-left ion-android-settings doubleLine">환경설정</a>
            <a ui-sref="page3" id="starCam-button8" class=" button button-assertive  icon-left ion-videocamera doubleLine">실시간 영상보기</a>
        </div>
        <div id="starCam-button-bar4" class=" button-bar ">
            <a ui-sref="page4" id="starCam-button13" class=" button button-assertive  icon-left ion-alert-circled doubleLine">최신충격 영상보기</a>
            <a ui-sref="page5" id="starCam-button14" class=" button button-assertive  icon-left ion-ios-list-outline doubleLine">영상목록</a>
        </div>
        <div id="starCam-button-bar6" class=" button-bar ">
            <a ui-sref="page6" id="starCam-button19" class=" button button-assertive  icon-left ion-chatbubble doubleLine">도움말</a>
            <a ui-sref="page7" id="starCam-button20" class=" button button-assertive  icon-left ion-android-car doubleLine">도난/견인 감지설정</a>
        </div>
    </ion-content>
</ion-view>